<div class="content-wrap">
    <app-main-nav [title]="title"></app-main-nav>

    <!--Main content here-->
    <div class="container">
        <div *ngIf="!singleSeller" class="content-loader">
            <span class="__1"></span>
            <span class="__2"></span>
            <span class="__3"></span>
            <span class="__4"></span>
        </div>
        <div class="row" *ngIf="singleSeller">
            <div class="col-lg-6 h-500">
                <div class="card h-100">
                    <div class="card-body">
                        <h6 class="mb-5">Seller</h6>
                        <div class="row no-gutters mt-3 mb-3 thinborder">
                            <div class="col-lg-4"><span>
                                    Name
                                </span></div>
                            <div class="col-lg-8"><span>
                                    <strong>
                                        {{singleSeller.name}}
                                    </strong>
                                </span></div>
                        </div>
                        <div class="row no-gutters mt-3 mb-3 thinborder">
                            <div class="col-lg-4"><span>
                                    Status
                                </span></div>
                            <div class="col-lg-8">
                                <span [style.color]="(singleSeller.status? 'green' : 'red')">
                                    <strong>
                                        {{singleSeller.status | titlecase}}
                                        <span>
                                            <i [class]="(singleSeller.status? 'fa fa-check': 'fa fa-times')"></i>
                                        </span>
                                    </strong>
                                </span>
                            </div>
                        </div>
                        <div class="row no-gutters mt-3 mb-3 thinborder">
                            <div class="col-lg-4">Address</div>
                            <div class="col-lg-8"><span>
                                    <strong>
                                        {{singleSeller.address | titlecase}}
                                    </strong>
                                </span></div>
                        </div>
                        <div class="row no-gutters mt-3 mb-3 thinborder">
                            <div class="col-lg-4"><span>
                                    Rating
                                </span></div>
                            <div class="col-lg-8"><span>
                                    <strong>
                                        3 Star
                                    </strong>
                                </span></div>
                        </div>
                        <div class="row no-gutters mt-3 mb-3 thinborder">
                            <div class="col-lg-4"><span>
                                    Date Joined
                                </span></div>
                            <div class="col-lg-8"><span>
                                    <strong>
                                        {{singleSeller.created | customDate}}
                                    </strong>
                                </span></div>
                        </div>
                        <div class="row no-gutters mt-3 mb-3 thinborder">
                            <div class="col-lg-4">
                                <span>
                                    User Device
                                </span>
                            </div>
                            <div class="col-lg-8">
                                <span *ngIf="singleSeller.devices && singleSeller.devices.length !== 0">
                                    <strong>
                                        {{singleSeller.devices.length}}
                                        <span>{{ (singleSeller.devices.length > 1) ? 'Devices' : 'Device'}}</span>
                                    </strong>
                                </span>
                                <span *ngIf="!singleSeller.devices || singleSeller.devices.length === 0">
                                    <strong>
                                        No Device
                                    </strong>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 h-500">
                <div class="">
                    <div class="">
                        <div class="card h-100 first-tabs">
                            <div *ngIf="singleSeller.orders.length !== 0">
                                <div class="d-flex justify-content-between align-items-center">
                                    <select class="form-control form-control-sm mr-2 text-capitalize"
                                        (change)="filterTable($event)">
                                        <option value="">Select one:</option>
                                        <option *ngFor="let option of filterOptions" [value]="option">{{option}}
                                        </option>
                                    </select>
                                    <button class="btn filter-btn">
                                        <i class="fa fa-filter"></i> Filter
                                    </button>
                                    <div class="search-div">
                                        <input type="text" placeholder="Search Orders..." class="search-input">
                                        <i class="fa fa-search search-icon"></i>
                                    </div>
                                </div>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="new-list1" role="tabpanel"
                                        aria-labelledby="new-list1-tab">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Status</th>
                                                    <th scope="col">Order #</th>
                                                    <th scope="col">Date</th>
                                                    <th scope="col">Amount</th>
                                                    <th scope="col">View</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let order of sorted">
                                                    <td class="order">
                                                        <div class="order_status"
                                                            [style.background-color]="orderStatusColor(order.tag)">
                                                        </div>
                                                    </td>
                                                    <td>{{order.ref | uppercase}}</td>
                                                    <td>{{order.created | customDate}}</td>
                                                    <td>{{order.amount | customCurrency}}</td>
                                                    <td><a href="">View</a></td>
                                                </tr>
                                                <tr *ngIf="sorted.length === 0">
                                                    No Orders
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="singleSeller.orders.length === 0">
                                No Orders
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>