<div class="app">
  <nav id="nav" class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
      <!-- Suplias Logo -->
      <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/suplias-logo.svg" alt="">
      </a>

      <!-- Mobile Nav Buttons -->
      <ul class="navbar-nav ml-auto mr-3 d-lg-none d-block">
        <li class="nav-item">
          <a *ngIf="isLoggedIn() === false" [routerLink]="['/login']" class="btn btn-sm btn-primary d-none d-lg-block">
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn() === true" [routerLink]="['/main/dashboard']" class="btn btn-sm btn-dark">
            My Dashboard
          </a>
        </li>
      </ul>

      <!-- Hamburger Button -->
      <div id="hamburger" class="navbar-toggler hamburger d-block d-lg-none collapsed" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <!-- Responsive Nav -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
              <a class="nav-link" href="/landing#features">Features</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing#waiting-list">Waiting List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/landing#download">Download</a>
          </li>
        </ul>
      </div>

      <!-- Desktop Nav Buttons -->
      <ul class="navbar-nav d-none d-lg-block">
        <li class="nav-item">
          <a *ngIf="isLoggedIn() === false" [routerLink]="['/login']" class="btn btn-primary d-none d-lg-block">
            Log In
          </a>
        </li>
        <li class="nav-item">
          <a *ngIf="isLoggedIn() === true" [routerLink]="['/main/dashboard']" class="btn btn-primary">
            My Dashboard
          </a>
        </li>
      </ul>

    </div>
  </nav>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-2 footer-widget footer-logo mb-3">
          <a class="d-block" href="#">
            <img src="../../../../assets/img/suplias-logo.svg" alt="">
          </a>
        </div>
        <div class="col-12 col-md-10 footer-widget mb-3 mb-md-0">
          <h3 class="footer-widget__title">Company</h3>
          <ul>
            <!-- <li><a [routerLink]="['/about']">About</a> </li> -->
            <li><a [routerLink]="['/contact']">Contact</a> </li>
            <!-- <a> <a href="#">Blog</a> </a> -->
          </ul>
        </div>
        <!-- <div class="col-6 col-md-4 footer-widget mb-3 mb-md-0">
          <h3 class="footer-widget__title">Product</h3>
          <ul>
            <li> <a href="#">For Buyers</a> </li>
            <li> <a href="#">For Sales Reps</a> </li>
          </ul>
        </div>
        <div class="col-6 col-md-4 footer-widget mb-3 mb-md-0">
          <h3 class="footer-widget__title">Resources</h3>
          <ul>
            <li> <a href="#">Support</a> </li>
            <li> <a [routerLink]="['/legal']">Legal</a> </li>
          </ul>
        </div>
        <div class="col-6 col-md-3 footer-widget mb-3 mb-md-0">
          <h3 class="footer-widget__title">Documentation</h3>
          <ul>
            <li> <a href="#">For Manufacturers</a> </li>
            <li> <a href="#">For Buyers</a> </li>
          </ul>
        </div> -->
      </div>

      <div class="row mt-3 footer-bottom">
        <div class="col-md-6">
          <small class="text-muted">&copy; {{year}} Suplias Technologies.</small>
        </div>
      </div>
    </div>
  </footer>
</div>
