<div class="content-wrap">
  <!--Top dashboard nav from /components/main/main-nav-->
  <!--the title prop is a string set in the .ts file of this component. An example is "Manufacturer". This will show on the top dashboard nav-->
  <app-main-nav [title]="title" [mode]="modeWatch | async" [componentInstance]="this"></app-main-nav>

  <!--Main content here-->
  <div class="container">
    <div *ngIf="mode === modes[0]" class="sub-header mt-3">
      <div>
        Sort by
        <select (change)="sort($event)" class="form-control form-control-sm">
          <option value="all" selected>All</option>
          <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
        </select>
      </div>
      <div>
        Sort by
        <select (change)="sortByManufacturer($event)" class="form-control form-control-sm">
          <option value="all" selected>All</option>
          <option *ngFor="let manufacturer of manufacturers" [value]="[manufacturer._id]">{{manufacturer.name}}</option>
        </select>
      </div>
      <div>
        <input type="text" class="form-control form-control-sm" (input)="search()" [(ngModel)]="query"
          [ngModelOptions]="{standalone: true}" placeholder="Search...">
      </div>
      <div>
        <button class="btn btn-primary btn-sm float-right" (click)="setMode(1)">
          Add Staff
        </button>
      </div>
    </div>

    <!-- <div *ngIf="(mode === modes[0]) && ((parties && parties.length !== 0) && (query === ''))" class="row mt-5">
      <div class="col-sm-6 col-lg-4 my-2" *ngFor="let party of sorted | paginate: { itemsPerPage: 6, currentPage: p}">
        <div class="card item-card">
          <div class="card-body">
            <div class="item-card-info">
              <div>
                <h5 class="item-name">{{party.name}}</h5>
                <span class="item-description">{{party.manufacturer}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button  (click)="spawnEdit(party)" class="btn btn-outline-primary btn-xs">Edit</button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="card" *ngIf="(mode === modes[0]) && ((parties && parties.length !== 0) && (query === ''))">
      <div class="card-body">
        <table class="table table-hover" *ngIf="sorted.length !== 0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let party of sorted | paginate: { itemsPerPage: 6, currentPage: p}, let i = index">
              <td>{{ i+1}}</td>
              <td>{{party.manufacturer}}</td>
              <td>{{party.email}}</td>
              <td>{{party.phone}}</td>
              <td [style.color]="(party.status === 'active') ? 'green' : 'red'">{{party.status | titlecase}}</td>
              <td>
                <button (click)="spawnEdit(party)" class="btn btn-outline-primary btn-xs">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="sorted.length == 0">
          <div class="empty-state text-center">
            <img src="../../../../assets/img/empty-data.svg">
            <h5 class="mt-3">No staff</h5>
            <p>No staff were found for this query. Please try another query or clear your filters.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="(mode === modes[0]) && ((parties && parties.length !== 0) && (query !== ''))" class="row mt-5">
      <div class="col-sm-6 col-lg-4 my-2" *ngFor="let party of queryArray | paginate: { itemsPerPage: 6, currentPage: p}">
        <div class="card item-card">
          <div class="card-body">
            <div class="item-card-info">
              <div>
                <h5 class="item-name">{{party.name}}</h5>
                <span class="item-description">{{party.manufacturer}}</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button  (click)="spawnEdit(party)" class="btn btn-outline-primary btn-xs">Edit</button>
          </div>
        </div>
      </div>
    </div> -->
    <div class="card" *ngIf="(mode === modes[0]) && ((parties && parties.length !== 0) && (query !== ''))">
      <div class="card-body">
        <table class="table table-hover" *ngIf="queryArray.length !== 0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Manufacturer</th>
              <th scope="col">Email</th>
              <th scope="col">Phone</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let party of queryArray | paginate: { itemsPerPage: 6, currentPage: p}, let i = index">
              <td>{{ i+1}}</td>
              <td>{{party.manufacturer}}</td>
              <td>{{party.email}}</td>
              <td>{{party.phone}}</td>
              <td [style.color]="(party.status === 'active') ? 'green' : 'red'">{{party.status | titlecase}}</td>
              <td>
                <button (click)="spawnEdit(party)" class="btn btn-outline-primary btn-xs">Edit</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="queryArray.length == 0">
          <div class="empty-state text-center">
            <img src="../../../../assets/img/empty-data.svg">
            <h5 class="mt-3">No staff</h5>
            <p>No staff were found for this query. Please try another query or clear your filters.</p>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="(mode === modes[0]) && parties">
      <pagination-controls *ngIf="query !== '' && queryArray.length > 6" class="pagination" responsive="true"
        (pageChange)="p = $event"></pagination-controls>
      <pagination-controls *ngIf="query === '' && sorted.length > 6" class="pagination" responsive="true"
        (pageChange)="p = $event"></pagination-controls>
    </ng-container>
    <div class="row justify-content-center mt-5">
      <div class="col-12 col-md-6">
        <div *ngIf="(mode === modes[0]) && parties && parties.length === 0" class="empty-state text-center">
          <img src="../../../../assets/img/empty-data.svg">
          <h5 class="mt-3">No staff</h5>
          <p>No staff were found for this query. Please try another query or clear your filters.</p>
        </div>
        <div *ngIf="(mode === modes[0]) && !parties" class="content-loader">
          <span class="__1"></span>
          <span class="__2"></span>
          <span class="__3"></span>
          <span class="__4"></span>
        </div>
      </div>
    </div>

    <div *ngIf="mode === modes[2]" class="row mt-3">
      <div class="col-md-12">
        <button class="btn btn-danger btn-sm float-right" (click)="spawnDelete(currentParty._id)">
          Delete Staff
        </button>
      </div>
    </div>

    <div *ngIf="mode === modes[2]" class="row form justify-content-center my-5">
      <div class="col-12 col-md-7">
        <div class="card panel-card">
          <div class="card-header">
            <h5 class="card-title">Edit Manufacturer Staff</h5>
          </div>
          <div class="card-body">
            <div class="row mt-3"></div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" class="form-control" id="name" aria-describedby="name" [(ngModel)]="edit.name"
                    #name="ngModel" [ngModelOptions]="{standalone: true}" />
                  <small class="form-error" *ngIf="name.value === '' && (name.dirty || name.touched)">
                    Enter a name!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="select" [(ngModel)]="edit.status" #status="ngModel"
                    [ngModelOptions]="{standalone: true}" name="status">
                    <option value="select">-- Select a status --</option>
                    <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
                  </select>
                  <small class="form-error" *ngIf="status.value === 'select' && (status.dirty || status.touched)">
                    Select a status
                  </small>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label for="man">Manufacturer</label>
                  <select class="form-control" id="man" [(ngModel)]="edit.manufacturer_id" #man="ngModel"
                    [ngModelOptions]="{standalone: true}" name="man">
                    <option value="select">-- Select a status --</option>
                    <option *ngFor="let manufacturer of manufacturers" [value]="[manufacturer._id]">
                      {{manufacturer.name}}</option>
                  </select>
                  <small class="form-error" *ngIf="man.value === 'select' && (man.dirty || man.touched)">
                    Select a manufacturer
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" aria-describedby="email" [(ngModel)]="edit.email"
                    #email="ngModel" [ngModelOptions]="{standalone: true}" class="form-control">
                  <small class="form-error" *ngIf="(email.value === '' || emailValidate(email.value) === false) &&
                  (email.dirty || email.touched)">
                    Enter a valid email!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="phone">Phone number</label>
                  <input disabled type="text" class="form-control" id="phone" aria-describedby="phone"
                    [(ngModel)]="edit.phone" #phone="ngModel" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                  <small class="form-error" *ngIf="(phoneToString(phone.value) === '' || validatePhone(phone.value) === false) &&
                  (phone.dirty || phone.touched)">
                    Enter a valid phone number!
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button [disabled]="checkValid(edit) === false" (click)="editAction()" type="submit"
              class="btn btn-primary">
              Submit
            </button>
            <button (click)="closeEdit(0)" class="btn btn-light float-right">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="mode === modes[1]" class="row form justify-content-center my-5">
      <div class="col-12 col-md-7">
        <div class="card panel-card">
          <div class="card-header">
            <h5 class="card-title">New Manufacturer Staff</h5>
          </div>
          <div class="card-body">
            <div class="row mt-3"></div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input name="name" class="form-control" id="name" aria-describedby="name" [(ngModel)]="create.name"
                    #name="ngModel" [ngModelOptions]="{standalone: true}" />
                  <small class="form-error" *ngIf="name.value === '' && (name.dirty || name.touched)">
                    Enter a name!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="select" [(ngModel)]="create.status" #status="ngModel"
                    [ngModelOptions]="{standalone: true}" name="status">
                    <option value="select">-- Select a status --</option>
                    <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
                  </select>
                  <small class="form-error" *ngIf="status.value === 'select' && (status.dirty || status.touched)">
                    Select a status
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="man">Manufacturer</label>
                  <select class="form-control" id="man" [(ngModel)]="create.manufacturer_id" #man="ngModel"
                    [ngModelOptions]="{standalone: true}" name="man">
                    <option value="select">-- Select a status --</option>
                    <option *ngFor="let manufacturer of manufacturers" [value]="[manufacturer._id]">
                      {{manufacturer.name}}</option>
                  </select>
                  <small class="form-error" *ngIf="man.value === 'select' && (man.dirty || man.touched)">
                    Select a manufacturer
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input class="form-control" id="email" aria-describedby="email" [(ngModel)]="create.email"
                    #email="ngModel" [ngModelOptions]="{standalone: true}" class="form-control">
                  <small class="form-error" *ngIf="(email.value === '' || emailValidate(email.value) === false) &&
                  (email.dirty || email.touched)">
                    Enter a valid email!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="phone">Phone number</label>

                  <input type="string" class="form-control" id="phone" aria-describedby="phone"
                    [(ngModel)]="create.phone" #phone="ngModel" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                  <small class="form-error" *ngIf="(phoneToString(phone.value) === '' || validatePhone(phone.value) === false) &&
                  (phone.dirty || phone.touched)">
                    Enter a valid phone number!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="hash">Password </label>
                  <input type="password" class="form-control" id="hash" aria-describedby="password"
                    [(ngModel)]="create.hash" #hash="ngModel" [ngModelOptions]="{standalone: true}"
                    class="form-control">
                  <small class="form-error" *ngIf="(validateHash(hash.value) === false) &&
                  (hash.dirty || hash.touched)">
                    Password should not be less than 8 characters.
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button [disabled]="checkValid(create) === false" (click)="createAction()" type="submit"
              class="btn btn-primary">
              Create
            </button>
            <button (click)="closeCreate(0)" class="btn btn-light float-right">
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>