.promo-card {
	margin-bottom: 30px;
}

.promo-card .card-footer {
	display: flex;
	font-size: 12px;
	justify-content: space-between;
	line-height: 25px;
	border-radius: 0 0 8px 8px;
}

.promo-card .promo-card-info {
	align-items: flex-start;
	display: flex;
	justify-content: space-between
}

.promo-card .promo-name {
	color: var(--primary-dark);
  font-size: 16px;
  line-height: 24px;
	word-break: break-all;
}

.promo-card .promo-meta {
	display: block;
	font-size: 14px;
}

.promo-card .promo-image {
	border: 1px solid #ececec;
	border-radius: 100%;background-position: center;
  background-repeat: no-repeat;
	background-size: 100%;
	height: 46px;
	margin-left: 8px;
	max-width: 46px;
  width: 100%;
}
