<div class="content-wrap">
  <!--Top dashboard nav from /components/main/main-nav-->
  <!--the title prop is a string set in the .ts file of this component. An example is "Manufacturer". This will show on the top dashboard nav-->
  <app-main-nav [title]="title" [mode]="modeWatch | async" [componentInstance]="this"></app-main-nav>

  <!--Main content here-->
  <div class="container">
    <div *ngIf="mode === modes[0]" class="sub-header mt-3">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-filter mr-1"></i>
          Filter
        </button>
        <div class="dropdown-menu dropdown-filter" aria-labelledby="dropdownMenuButton1">
          Status
          <select (change)="sort($event)" class="form-control form-control-sm">
            <option value="all" selected>All</option>
            <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
          </select>
        </div>
      </div>
      <div>
        Sort by
        <select (change)="sort($event)" class="form-control form-control-sm">
            <option value="all" selected>All</option>
            <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
        </select>
      </div>
      <div *ngIf="!manufacturerId">
        <div>
          Sort by
          <select (change)="sortByManufacturer($event)" class="form-control form-control-sm">
              <option value="all" selected>All</option>
              <option *ngFor="let manufacturer of manufacturers" [value]="[manufacturer._id]">{{manufacturer.name}}</option>
          </select>
        </div>
      </div>
      <div>
        <input type="text" class="form-control form-control-sm" (input)="search()" [(ngModel)]="query" [ngModelOptions]="{standalone: true}" placeholder="Search...">
      </div>
      <div *ngIf="manufacturerId">
        <button class="btn btn-primary btn-sm" (click)="setMode(1)">
          <i class="fa fa-plus mr-1"></i>
          New Brand
        </button>
      </div>
    </div>

    <div *ngIf="(mode === modes[0]) && ((brands && brands.length !== 0) && (query === ''))" class="row mt-5">
      <div class="col-sm-6 col-lg-4 my-2" *ngFor="let brand of sorted | paginate: { itemsPerPage: 6, currentPage: p}">
        <div class="card brand-card">
          <div class="card-body">
            <div class="brand-card-info">
                <div class="brand-logo" [style.background-image]="'url(' + brand.image + ')'"></div>
                <h5 class="brand-name">{{brand.name}}</h5>
            </div>
          </div>
          <div class="card-footer">
            <a [routerLink]="['/main/products/' + brand._id]"><b>{{brand.products}}</b> Products</a> &nbsp;
            <div class="toggle-box">
              <input type="checkbox" [id]="'status_' + brand._id" [name]="'status_' + brand._id" role="toggle"
                [checked]="brand.status === 'active'" (click)="toggleStatus(brand)">
              <label [for]="'status_' + brand._id" role="toggle"></label>
            </div>
            <button *ngIf="manufacturerId" (click)="spawnEdit(brand)" class="btn btn-outline-primary btn-xs">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="(mode === modes[0]) && ((brands && brands.length !== 0) && (query !== ''))" class="row mt-5">
      <div class="col-sm-6 col-lg-4 my-2" *ngFor="let brand of queryArray | paginate: { itemsPerPage: 6, currentPage: p}">
        <div class="card brand-card">
          <div class="card-body">
            <div class="brand-card-info">
                <div class="brand-logo" [style.background-image]="'url(' + brand.image + ')'"></div>
                <h5 class="brand-name">{{brand.name}}</h5>
            </div>
          </div>
          <div class="card-footer">
              <a [routerLink]="['/main/products/' + brand._id]"><b>{{brand.products}}</b> Products</a> &nbsp;
              <div class="toggle-box">
                <input type="checkbox" [id]="'status_' + brand._id" [name]="'status_' + brand._id" role="toggle"
                  [checked]="brand.status === 'active'" (click)="toggleStatus(brand)">
                <label [for]="'status_' + brand._id" role="toggle"></label>
              </div>
            <button *ngIf="manufacturerId" (click)="spawnEdit(brand)" class="btn btn-outline-primary btn-xs">Edit</button>
          </div>
        </div>
      </div>
    </div>
    <ng-container *ngIf="(mode === modes[0]) && brands">
        <pagination-controls *ngIf="query !== '' && queryArray.length > 6" class="pagination" responsive="true" (pageChange)="p = $event"></pagination-controls>
        <pagination-controls *ngIf="query === '' && sorted.length > 6" class="pagination" responsive="true" (pageChange)="p = $event"></pagination-controls>
    </ng-container>

    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div *ngIf="(mode === modes[0]) && brands && brands.length === 0" class="empty-state mt-5 text-center">
          <img src="../../../../assets/img/empty-data.svg">
          <h5 class="mt-3">No brands</h5>
          <p>No brands were found for this query. Please try another query or clear your filters.</p>
        </div>
        <div *ngIf="(mode === modes[0]) && !brands" class="mt-5 content-loader">
          <span class="__1"></span>
          <span class="__2"></span>
          <span class="__3"></span>
          <span class="__4"></span>
        </div>
      </div>
    </div>

    <div *ngIf="mode === modes[1] && manufacturerId" class="row form justify-content-center my-5">
      <div class="col-12 col-md-7">
        <div class="card panel-card">
          <div class="card-header">
            <h5 class="card-title">New Brand</h5>
            <button (click)="closeCreate(0)" class="btn btn-light btn-icon"><i class="fa fa-close"></i></button>
          </div>
          <div class="card-body">
            <div class="row mb-5">
              <div class="col-12 avatar-uploader">
                <div *ngIf="!createSrc" class="avatar avatar-holder" [style.background-image]="'url(https://via.placeholder.com/150)'"></div>
                <div *ngIf="createSrc" class="avatar avatar-holder" [style.background-image]="'url(' + createSrc + ')'"></div>
                <div class="btn-multiple">
                  <input (change)="preview($event)" name="files" id="files" type="file">
                  <span *ngIf="!createImage" (click)="uploadFile()" class="btn btn-sm btn-upload">
                    <i class="fa fa-image mr-1"></i>
                    Add Logo
                  </span>
                  <span *ngIf="createImage" (click)="uploadFile()" class="btn btn-sm btn-upload">
                    <i class="fa fa-pencil mr-1"></i>
                    Change Logo
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="name">Name <span class="text-danger">*</span></label>
                  <input name="name" class="form-control" id="name" aria-describedby="name" [(ngModel)]="create.name"
                  #name="ngModel" [ngModelOptions]="{standalone: true}" />
                  <small class="form-error" *ngIf="name.value === '' && (name.dirty || name.touched)">
                    Enter a name!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="status">Status <span class="text-danger">*</span></label>
                  <select class="form-control" id="select" [(ngModel)]="create.status" #status="ngModel"
                    [ngModelOptions]="{standalone: true}" name="status">
                    <option value="select">-- Select a status --</option>
                    <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
                  </select>
                  <small class="form-error" *ngIf="status.value === 'select' && (status.dirty || status.touched)">
                    Select a status
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <button [disabled]="checkValid(create) === false" (click)="createAction()" type="submit" class="btn btn-primary">
              Create
            </button>
            <button (click)="closeCreate(0)" class="btn btn-light"> Cancel </button>
          </div>
        </div>
      </div>
    </div>
    
    <div *ngIf="mode === modes[2] && manufacturerId" class="row form justify-content-center my-5">
      <div class="col-12 col-md-7">
        <div class="card panel-card">
          <div class="card-header">
            <h5 class="card-title">Edit Brand</h5>
            <button (click)="closeEdit(0)" class="btn btn-light btn-icon"><i class="fa fa-close"></i></button>
          </div>
          <div class="card-body">
            <div class="row mb-5">
              <div class="col-12 avatar-uploader">
                <div *ngIf="!editSrc" class="avatar avatar-holder" [style.background-image]="'url(https://via.placeholder.com/150)'"></div>
                <div *ngIf="editSrc" class="avatar avatar-holder" [style.background-image]="'url(' + editSrc + ')'"></div>
                <div class="btn-multiple">
                  <input (change)="preview($event)" name="files" id="files" type="file">
                  <span *ngIf="!editImage" (click)="uploadFile()" class="btn btn-sm btn-upload">
                    <i class="fa fa-image mr-1"></i>
                    Add Logo
                  </span>
                  <span *ngIf="editImage" (click)="uploadFile()" class="btn btn-sm btn-upload">
                    <i class="fa fa-pencil mr-1"></i>
                    Change Logo
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="name">Name <span class="text-danger">*</span></label>
                  <input name="name" class="form-control" id="name" aria-describedby="name" [(ngModel)]="edit.name"
                  #name="ngModel" [ngModelOptions]="{standalone: true}" />
                  <small class="form-error" *ngIf="name.value === '' && (name.dirty || name.touched)">
                    Enter a name!
                  </small>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label for="status">Status <span class="text-danger">*</span></label>
                  <select class="form-control" id="select" [(ngModel)]="edit.status" #status="ngModel"
                    [ngModelOptions]="{standalone: true}" name="status">
                    <option value="select">-- Select a status --</option>
                    <option *ngFor="let status of statuses" [value]="[status.value]">{{status.name}}</option>
                  </select>
                  <small class="form-error" *ngIf="status.value === 'select' && (status.dirty || status.touched)">
                    Select a status
                  </small>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div>
              <button [disabled]="checkValid(edit) === false" (click)="editAction()" type="submit" class="btn btn-primary">
                Update
              </button>
              <button (click)="closeEdit(0)" class="btn btn-light ml-2"> Cancel </button>
            </div>
            <button class="btn btn-danger btn-sm" (click)="spawnDelete(currentBrand._id)">
              <i class="fa fa-trash mr-1"></i>
              Delete
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-7 text-center mt-5">
        <input hidden (change)="bulkUpload($event)" name="products" id="products" type="file">
        <span class="btn btn-primary btn-sm" (click)="uploadProducts()">
          <i class="fa fa-upload mr-1"></i>
          Upload Products From CSV
        </span> 
        <div class="mt-2"></div>
        <a href="../../../../assets/misc/upload-sample.csv">
          <small>Product Upload Format</small>
        </a>
      </div>
    </div>
  </div>
</div>